<% include partials/header %>

<div class="container">
    <form class="form">
        <h1>Welcome!</h1>

        <p>Great to see you here.</p>

        <a href="/sign-out">Sign out</a>
    </form>
</div>

<% include partials/footer %>